body{
  font-weight: 400;
  font-color:#FFFFFF;
  font-family: "Pt-sans Regular", sans-serif;
  font-size: 14px;
  
}
h1{
	font-size: 30px;
	line-height: 30px;
}
h2{
	font-size: 30px;
	line-height: 24px; 
}
.container {
  width: 1000px;
  margin-left: 300px;
  margin-right: 200px;
}

.header_top{
	width: 1200px;
	height: 35px;
	background-color: #33445a
	
}
.main_header{
	display: flex;
	justify-content: space-around; 
}



.column_header_top_1{
	float: left;
	height: 20px;
	width: 100px;
	background-color: red;
	color: white
}
.column_header_top_2{
	float: left;
	height: 50px;
	width: 50px;
	margin-left: 10px
}
.order,
.basket,
.bookmark
{
	float: right;
	height: 20px;
	width: 90px;
	margin-right: 10px;
	text-decoration: none;
	color: #bec6cf;
}
.order
{
	width: 150px;
	background-color: #6db254;
	height: 40px;
}
.column_1
{
	float: left;
	height: 65px;
	width: 300px;
}
.column_3{
	float: right;
	height: 40px;
	width: 280px;
	
	
}
.column_2{
	float: left;
	height: 90px;
	width: 270px;
	margin-left: 100px;
	margin-right: 60px;
}
.login,
{
	clear: left
    margin-top:-70px;
	margin-left:150px   
}
.sign_up{
	float: right;
	margin-top:-100px;
	margin-left:150px 
}
.column_4{
	clear: both;
	height: 60px;
	width: 940px;
}
.pages{
	width: 910px;
	list-style: none;
	margin-left: 100px ;
    padding: 10px 15px;
    background: #3d546e;
    border: 1px solid #e5e5e5;
}
.pages li {
    display: inline;
    margin-right: 60px;
}
.pages a{
 color: #bec6cf;
 text-decoration: none;
}
.feature{
	width: 250px;
	height: 120px;
	margin-left: 100px;
	float: left;
	color: white
}
.icon{
	padding-bottom:165px;
	padding-left: 160px;
}
.material{
	background-color: #ffbf47;
	width: 300px;
}
.tool{
	background-color: #3bbce3;
	width: 300px;
	margin-left: 20px;
}
.machine{
	background-color: #dc91d8;
	width: 300px;
	margin-left: 740px;
	margin-top: -120px


}
.delivery_feature{
	background-color: #ffc047;
	clear: both;
	float: right;
	width: 300px;
	margin-top: -20px;
	margin-right: -40px;
	
}

.low_price{
	background-color: #8ed78f;
	float: right;
	width: 300px;
	margin-right: -40px;
	margin-bottom: 40px;
	margin-top: 15px;
}
.slider{
   clear: left;
   float: left;
  margin-top: -320px;
  margin-left: 100px
}
	
.item{
    width: 180px;
	height: 180px;
	margin-left: 20px;
	float: left;
	margin-bottom: 20px;
	font-weight: bold;
	margin-right:20px;
}
.popular{
	margin-left: 100px; 
}
.price{
	color:white;
	background-color: red;
}
.old_price{
	text-decoration: line-through;
}
.manufacture{
	float: left;
	width: 10pc;
	height: 130px;
	margin-left: 25px;
	padding: 15px;
}
.service_block{
	margin-left: 115px;
}
.delivery{
 margin-left:100px;
 margin-bottom: 150px; 

}
table{
	float: left;
	margin-top: 30px;
	margin-right: 40px 
}

.delivery_info{
	margin-left: 110px 
}
.delivery_picture{

float: right;
margin-top:-130px;
}
.about{
	float: left;
	width: 350px;
	margin-left: 110px;
}
.contact{
	float: right;
	margin-left: 10px 
}
.write_us{
	clear: right;

}

.footer_about{
	float: left;
}

.footer_logo{
	background-color: #ff5357;
	color: white;
	min-height: 30px;
	width: 100px;
}
.footer-navigation{
	float: right
}

.footer_copyright{
	float: left;
	clear: right;
	 margin-bottom: 5px; 
}
.footer_social{
	margin-left:50px; 
}
.feedback{
 float: right;
 margin-bottom: -50px; 
}

.website{
	float: right;
margin-left: 20px 
}

.clearfix{
	clear: both;
}
.button{
	background-color: #ff5357;
	clear: both;
}
//inner.html

.filter{
	float: left;
	margin-left:150px; 
}
.sort{
	float: left;
	clear: left;
	margin-left:10px; 
}
.price_search{
	float: left;
	width: 60px;

}
.trackbar{
	margin-left:70px; 	
}

.type{
width: 100px;
height: 200px;
clear: left;
margin-left:70px; 	
}
.manufactures,
.energy_source{
	float: left;
	
}
.item_1,
.item_2
.item_3{
 {
    width: 180px;
	height: 180px;
	margin-left: 20px;
	float: left;
	margin-bottom: 20px;
	font-weight: bold;
	margin-right:20px;
}

.catalog{
	float: right;
	margin-left:430px;
	margin-right:350px;  
}
.search{
	
	
	margin-left: 50px 
}
.info_item{
	margin-left:390px; 
}






