
html{
	box-sizing:  border-box;
	margin: 0,auto; 
	
}
.clearfix::after {
  content: "";
}
.clearfix::before {
  content: "";
}
body{
  color:#000000;
  font-family: "Pt-sans Regular, Arial", sans-serif;
  font-size: 17px;
  
}
h1{
	font-size: 30px;
	line-height: 30px;
}
h2{
	font-size: 30px;
	line-height: 24px; 
}
.container {
  width: 960px;
  margin: 0 auto;
}
.main-header {
  min-height: 70px;

}

.header_top{
	background-color: #33445a;
	width: 960px;
    height: 42px;
    padding-right: 305px;
    margin-left:-100px 
	
}
.user_block{
	 float: right;
     width: 240px;
}
.logo_header{
	float: left;
	padding: 15px;
	width: 100px;
	margin-left: px;
	background-color: red;
	color: white;
	font-size: 20px
}

.order,
.basket,
.bookmark
{
	float: right;
	margin-right: 10px;
	text-decoration: none;
	color: #bec6cf;
}
.bookmark{
 float: left;


 padding-top: 15px;

}
.basket{
	float: left;
	padding-top: 15px;
    
}
.order
{   
	float: right;
	
	background-color: #6db254;
	margin-right: 130px;
	padding: 15px;
	text-decoration: none;
	color: #bec6cf;
}


.column_1
{
	float: left;
	margin-top: 42px;

	width: 300px;
}
.header_adress{
	float: left;
	margin-top: 42px;
	margin-left: 72px;
	padding-top: 13px;
	padding-bottom: 11px;
	padding-right: 52px;
	padding-left: 72px;
	height: 90px;
	width: 270px;
}
.column_3{
	float: right;
    margin-top: 42px;
    margin-left: 100px;
		
	
}
.login
{
float: left
padding-right: 58px;
padding-left: 27px;
padding-top: 14px;
padding-bottom: 15px;
margin-right:10px;
    
}
.sign_up{
 float: right;
 padding-top: 14px;
padding-bottom: 15px;
 margin-right:25px;
 padding-left: 25px;
 margin-top: 50px; 
 margin-right:150px;
}
.login>a,
.sign_up>a,
.header_adress>a,
.more_popular>a{
	color: #000000
}

.column_4{
	clear: both;
	height: 60px;
	width: 940px;
}
.pages{
	margin-top: 100px;
	margin-bottom: 100px;
	width: 920px;
	list-style: none;
	padding-top: 22px;
    padding-bottom: 26px;
    background: #3d546e;
    border: 1px solid #e5e5e5;
}
.pages li {
    display: inline;
    padding-right: 32px;
    padding-left: 12px
}
.pages a{
 color: #bec6cf;
 text-decoration: none;
 font-size: 17px
}
.feature{
	width: 250px;
	height: 120px;
	margin-top: 100px;
	float: left;
	color: white;
	}
.feature_column1{
	float: left;
	margin-left: -90px;
}
.feature_column2{
	float: right;
    margin-left:80px;
    margin-top: -340px

}
.icon{
	padding-bottom:165px;
	padding-left: 160px;
}
.material{
	background-color: #ffbf47;
	width: 300px;
	margin-left: 100px;
	margin-bottom: 20px
}
.tool{
	background-color: #3bbce3;
	width: 300px;
	margin-left: 15px;
}
.machine{
	background-color: #dc91d8;
	width: 300px;
    
        
	



}
.delivery_feature{
	background-color: #ffc047;
	clear: both;
	width: 300px;
	margin-top:25px; 
	
}

.low_price{
	background-color: #8ed78f;
	float: right;
	clear: both;
	width: 300px; 
    
    margin-top:25px; 
}
.slider{
   
margin-left: 100px;
clear: both;
width: 615px;
height: 100px;


  
}
	
.item{
    width: 215px;
	height: 318px;
	margin-left: 20px;
	float: left;
	font-weight: bold;
	padding-bottom:21px; 
	margin-right:3px;
	margin-bottom: 21px;

}
.popular{
	margin-left: 5px;

}
.price{
	color:white;
	background-color: #ff5357;
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 33px;
	padding-right: 40px
}
.price:nth-child(4n){
	margin-top:45px;

}
.old_price{
	text-decoration: line-through;
	clear: left;
	padding-top: 13px;
	padding-bottom: 13px
}

.more_popular{
	background-color: #f9f5f0;
	
	margin-top: 53px;
}
.manufacture{
	float:left;
	width: 220px;
	height: 145px;
	padding-top: 21px;

	padding-left: 9px;
	padding-right: 11px;
    margin-right: -5px;
    margin-bottom: 85px;
}

.service_block{
	margin-left: 20px;
	margin-bottom: 74px
}
.delivery{
 width: 420px;
 margin-left:320px;
 margin-bottom: 150px; 

}
table{
	float: left;
	margin-top: 30px;
	margin-right: 40px 
}

.delivery_info{
	margin-left: 110px 
}
.delivery_picture{

float: right;
margin-top:-130px;
}
.about{
	float: left;
	width: 350px;
	margin-left: 110px;
}
.contact{
	float: right;
	margin-right: -150px;
}

.write_us{
	clear: right;

}
footer{
	margin-top: 86px;
	color: #f1f1f3;
	background-color: #32425c;
}
.footer_top{
	width: 1850px;
	background-color: #32425c;
}
.footer_bottom{
	width: 1850px;
	margin-top: 53px;
	background-color: #293449;
}
.footer_about{
	float: left;
}

.footer_logo{
	float: left;
	padding: 15px;
	width: 100px;
	margin-bottom: 32px;
	background-color: red;
	color: white;
	font-size: 17px
}
.footer_contacts{
	clear: left;
}
.footer-navigation{
	float: right;
}

.footer_copyright{
	margin-top: 53px;
	margin-bottom: -93px;
}
.footer_social{
	float: left;
	margin-top: 53px;
	margin-left: 370px;

}
.feedback{
float: right
margin-left: 580px
}

.website{
	float: right;
	margin-right: -150px

}
.e-mail{
	float: left;
	margin-left: 120px
}

.clearfix{
	clear: both;
}
.button{
	background-color: #ff5357;
	clear: left;
	padding-left: 63px;
	margin-right: 59px;
	margin-top:14px;
	margin-bottom: 12px;

}
a{
	color: #ffffff;
	text-decoration: none;
}
.search{
	float: left;
	margin-left: 120px; 
	width: 220px;
	margin-bottom: 1000px 
}

.filter{
	float: left;
	
}
.sort{
	float: right;
	margin-right:-400px 
}
.price_search{
	float: left;
	width: 60px;

}
.trackbar{
	margin-left:70px; 	
}

.type{
width: 100px;
height: 200px;
clear: left;
margin-left:70px; 	
}
.manufactures,
.energy_source{
	float: left;
}
.catalog{
float: right;
margin: 40px;
padding: 20px
}
.catalog_item{
	padding-top:29px; 
	padding-bottom:177px;
	padding-left:40px;
	padding-right:53px;
	float: left;
	margin-right: 50px;
	margin-top:-60px;
	font-weight: bold;
	height:318px;
}
.item_info{
	float: left;
	margin-bottom:-150px;
	margin-left: 450px;
	background-color: #f2f6f8;
	padding-left: 40px
}
.pagination{
	clear: both;
	margin-left: 450px;
	padding: 10px
}









